@font-face {
    font-family:'Crimson Text';
    src: url('assets/Crimson/Crimson Text Italic.eot');
	src: url('assets/Crimson/Crimson Text Italic.eot?#iefix') format('embedded-opentype'),
		url('assets/Crimson/Crimson Text Italic.woff2') format('woff2'),
		url('assets/Crimson/Crimson Text Italic.woff') format('woff'),
		url('assets/Crimson/Crimson Text Italic.svg#Crimson Text Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Crimson Text';
    src: url('assets/Crimson/Crimson Text Regular.eot');
	src: url('assets/Crimson/Crimson Text Regular.eot?#iefix') format('embedded-opentype'),
		url('assets/Crimson/Crimson Text Regular.woff2') format('woff2'),
		url('assets/Crimson/Crimson Text Regular.woff') format('woff'),
		url('assets/Crimson/Crimson Text Regular.svg#Crimson Text Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/*	==============
	Fonts
================*/



* {
	font-family: 'Crimson Text', san-serif;
	font-size: 18px;
	// color: #95989A;
	color: white;
}

body {
	padding: 0;
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

.loading {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

	transition: all .5s ease-out;
    background: #001c2f;
    position: fixed;
    height: 100vh;
    z-index: 999;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.loading img { width: 200px; }

.container { margin-bottom: 50px; margin-top: 50px; }

.bg {
	position: fixed;
	z-index: -1;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
.bg img {
	object-position: center;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.overlay {
	background-color: white;
	position: absolute;
	opacity: .4;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.logo { text-align: center; }
.logo img { width: 200px; }

.content {
	background-color: #222b67;
	margin: 50px 0;
	padding: 50px;
	opacity: .8;
}

.opening, .contact, .socials {
	margin-bottom: 10px;
	text-align: center;
}

.contact p { max-width: 400px; margin: 0 auto; }

.socials img {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;	
	transition: all .5s ease;

	margin: 10px 5px;
	width: 20px;
}
.socials img:hover {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;	
	transition: all .5s ease;

    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari */
    transform: scale(1.4);	
}

