@font-face {
    font-family:'Crimson Text';
    src: url('assets/Crimson/Crimson Text Italic.eot');
	src: url('assets/Crimson/Crimson Text Italic.eot?#iefix') format('embedded-opentype'),
		 url('assets/Crimson/Crimson Text Italic.woff2') format('woff2'),
		 url('assets/Crimson/Crimson Text Italic.woff') format('woff'),
		 url('assets/Crimson/Crimson Text Italic.svg#Crimson Text Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Crimson Text';
    src: url('assets/Crimson/Crimson Text Regular.eot');
	src: url('assets/Crimson/Crimson Text Regular.eot?#iefix') format('embedded-opentype'),
		 url('assets/Crimson/Crimson Text Regular.woff2') format('woff2'),
		 url('assets/Crimson/Crimson Text Regular.woff') format('woff'),
		 url('assets/Crimson/Crimson Text Regular.svg#Crimson Text Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/*	==============
	Fonts
================*/



* {
	font-family: 'Crimson Text', san-serif;
	font-size: 18px;
	color: #95989A;
}


body {
	background-repeat: repeat;
	padding: 50px 0;
}

a { color: inherit !important; }
a:hover { color: #242e68 !important; }

.loading {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

	transition: all .5s ease-out;
    background: #001c2f;
    position: fixed;
    height: 100vh;
    z-index: 999;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.loading img { width: 200px; }

.logo img {
	width: 200px;
}


.contact p { position: relative; margin-left: 28px; }
.contact p span {
    position: absolute;
    left: -27px;
    top: 0;
}


.opening {
    -webkit-flex-direction: column; /* Safari 6.1+ */ 
    flex-direction: column;
    -webkit-align-items: flex-end;
    align-items: flex-end;    

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;	
}

.opening h2 { margin-right: 60px; }


.banner { margin: 50px 0 30px; }
.banner img { width: 100%; }


.socials { text-align: center; }
.socials img { width: 20px; margin: 10px 7px; }

@media screen and (max-width: 991px) {
	.opening {
	    -webkit-align-items: flex-start;
	    align-items: flex-start;		
	}
	.opening h2 { margin-right: inherit; }
}

@media screen and (max-width: 767px) {
	.logo {
		margin-bottom: 50px;
		text-align: center;
	}

	.opening {
		display: block;
	}

	.opening h2 { margin-right: inherit; }

	.banner img { object-fit: cover; object-position: center; height: 250px; }
}


